@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background: rgb(255, 255, 255);
}

.heading{
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 10px 25px black;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    padding: 10px 20px;
    box-sizing: border-box;
}

.container{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    cursor: pointer;
}

.container .card{
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    margin: 20px 40px;
    flex-direction: column;
    box-shadow: 0px 10px 25px black;
    backdrop-filter: blur(15px);
}

.container .card:hover .image{
    transform: translateY(-50px);
}
.container .card:hover .image img{
    transform: translate(-20px, -40px) rotate(25deg) scale(1.2);
}

.container .card::before{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    clip-path: circle(35% at 100% 0%);
}
.container .card::after{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    clip-path: circle(30% at 0% 100%);
}

.container .card:nth-child(1)::before{
    background: rgba(114, 48, 17, 0.767);
}
.container .card:nth-child(1)::after{
    background: rgba(114, 48, 17, 0.767);
}
.container .card:nth-child(2)::before{
    background: rgb(176, 173, 173);
}
.container .card:nth-child(2)::after{
    background: rgb(176, 173, 173);
}
.container .card:nth-child(3)::before{
    background: rgb(243, 196, 136);
}
.container .card:nth-child(3)::after{
    background: rgb(243, 196, 136);
}

.container .card .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    transition: .5s ease-in;
}
.container .card .image img{
    max-width: 70%;
    margin: 0px 0px 20px;
    transition: .5s ease-in;
}

.container .card .image h2{
    margin-bottom: 50px;
}

.container .card .details{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in;
}
.container .card .details .price, .container .card .details .brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .details .price p, .container .card .details .brand p{
    text-align: center;
    color: white;
    background: black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.container .card .details a{
    text-align: center;
    color: white;
    background: black;
    padding: 5%;
    font-weight: 500;
    border-radius: 50px;
    text-decoration: none;
}
.container .card:hover .details{
    visibility: visible;
    opacity: 1;
    transform: translateY(-50);
}