@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background: rgb(151, 149, 149);
}

.heading{
    font-weight: 700;
    padding: 10px;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0px 10px 25px black;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    padding: 10px 20px;
    box-sizing: border-box;
}

.container{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    cursor: pointer;
}

.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 350px;
    margin: 20px 40px;
    flex-direction: column;
    box-shadow: 0px 10px 25px black;
    backdrop-filter: blur(15px);
}

.container .card:hover .image{
    transform: translateY(-50px);
}
.container .card:hover .image img{
    transform: translate(-20px, -40px) rotate(25deg) scale(1.2);
}

.container .card::before{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    clip-path: circle(35% at 0% 100%);
}
.container .card::after{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    clip-path: circle(30% at 100% 0%);
}


.container .card .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    transition: .5s ease-in;
}
.container .card .image img{
    max-width: 70%;
    margin: 0px 0px 20px;
    transition: .5s ease-in;
}